-
	var listItems = 
		[
			'item1', 
			'item2', 
			'item3', 
			'item4', 
			'item5'
		]
-
	var aboutUs= 
		{
			title: "About us",
			text: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sit, optio corrupti sed pariatur nemo aliquid nulla aut totam autem."
		}
-
	var footerData=
		{
			title: "Footer",
			text: " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam veritatis rem quia, quae reiciendis ab sequi sapiente recusandae corrupti placeat."
		}