include ../../node_modules/bemto.pug/bemto
include ../blocks/all

block params
	- var pageTitle = "Vitalii_simple"
   
doctype html
html
	head
		title= pageTitle
		block meta
		block styles
	body
		block main
		block scripts